<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'officeindex.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/office_viewprofile">View profile</a></td>
    </tr>
    <tr>
      <td><a href="/office_view_notification1">view notification</a></td>
    </tr>
    <tr>
      <td><a href="/office_viewsend_replay">View complaint&send replay</a></td>
    </tr>
    <tr>
      <td><a href="/">Logout</a></td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
